{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Omin Bridge Solution</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="#"> 
  <link rel="stylesheet" href="#">
  <link rel="stylesheet" href="#">
  <link rel="stylesheet" href="#">
  <link rel="stylesheet" href="#">
</head>

<body>

  <div class="navbar-container">
    <nav class="navbar">
      <span class="brand-name">Files Convert to Text</span>
      <ul class="nav-ul">
        <li><a href="#">Home</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
      <a href="javascript:void(0)" class="custom-menu-icon" onclick="toggleNavbar()">☰</a>
    </nav>
  </div>

  {% block body %}

  {% endblock %}

  <footer class="footer-container">
    <p>&copy; 2024 Omin Bridge Solution. All rights reserved.</p>
    <p>
      <a href="#">Privacy Policy</a> |
      <a href="#">Terms of Service</a> |
      <a href="#">Contact Us</a>
    </p>
    <div class="social-icons">
      <a href="#" target="_blank">
        <img src="#" alt="Facebook">
      </a>
      <a href="#" target="_blank">
        <img src="#" alt="Twitter">
      </a>
      <a href="#" target="_blank">
        <img src="#" alt="Instagram">
      </a>
    </div>
  </footer>

</body>

</html>





<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compress GIF Images Online</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body class="page">
  <div class="card">
    <header class="card_header">
      <a href="/" class="logo">
        <img src="{% static 'logo/OCR.png' %}" alt="Compress GIF Images Online" class="logo__image">
      </a>
      <p class="card__text">Click UPLOAD FILES to choose up to 20 GIF images you want to compress. Wait for the upload
        and compression processes to complete.</p>
      <p class="card__text card__text_hidden-sm">Click DOWNLOAD ALL to get all the compressed files at once, grouped in
        a ZIP archive. Or you can download each image individually.</p>

      <div class="language">
        <label for="language" class="language_label"> Convert To
          <select class="dropdown" id="language" name="language">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
            <option value="mr">Marathi</option>
            <option value="gu">Gujarati</option>
            <option value="sa">Sanskrit</option>
          </select>
        </label>
      </div>
    </header>

    <div class="second_card">
      <div class="buttons">
        <button class="btn1" type="button" onclick="uploadFile()">Upload File</button>
        <button class="btn2" type="reset" onclick="clearQueue()">Clear Queue</button>
      </div>
      <div class="drag-and-drop">
        <p>Drag & Drop your GIFs here</p>
        <input type="file" name="files" class="file-input" id="fileInput" multiple style="display: none;">
        <ul class="file-list"></ul>
      </div>
      <div class="buttons_second">
        <button class="btn1">Scan File</button>
        <button class="btn3">Download File <span class="file-count">0</span></button>
    </div>
    </div>


    <footer class="card__footer">
      <p class="footer__text">All uploaded data is deleted after 1 hour.</p>
      <p class="footer__text">
        &copy;SIA Webby | <a rel="noopener noreferrer" href="/terms" target="_blank" class="footer__link">Terms and
          Privacy</a>
      </p>
    </footer>
  </div>
  <script src="{% static 'js/base.js' %}"></script>
</body>

</html> -->