{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Using Text Extract</title>
    <link rel="stylesheet" href="{% static 'css/get_file.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>
</head>

<body class="page">
    <div class="card">
        <header class="card_header">
            <a href="/" class="logo">
                <img src="{% static 'logo/OCR_Logo.png' %}" alt="Compress GIF Images Online" class="logo__image">
            </a>
            <p class="card__text">Select up to 5 JPEG or PDF images from your device or drag files to the drop area.
                Wait for the scanning to finish.</p>
            <p class="card__text_hidden-sm">Download scanned images either separately or get them all .</p>

            <div class="language">
                <label for="language" class="language_label"> Convert To<span class="span1">&#8594;</span>
                    <select class="dropdown" id="language" name="language">
                        <option value="en">English</option>
                        <option value="hi">Hindi</option>
                        <option value="mr">Marathi</option>
                        <option value="gu">Gujarati</option>
                        <option value="sa">Sanskrit</option>
                    </select>
                </label>
            </div>
        </header>

        <div class="second_card">
            <div class="buttons">
                <button class="btn1" type="button" onclick="document.getElementById('fileInput').click();">
                    <img src="{% static 'logo/Upload.png' %}" alt="Upload Icon"> Upload File
                </button>
                <button class="btn2" type="reset" onclick="clearQueue()">
                    <img src="{% static 'logo/clear.png' %}" alt="Clear Icon">Clear Queue
                </button>
            </div>
            <form id="uploadForm" action="{% url 'Getfile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="drag-and-drop">
                    <div class="file-container">
                        <ul class="file-list"></ul>
                    </div>
                    <p>Drop Your Files Here</p>
                    
                    <input type="file" name="files" class="file-input" id="fileInput" multiple style="display: none;">
                    <ul class="file-list"></ul>
                </div>
                <div class="buttons_second">
                    <button class="btn4 btn-disabled" type="button" id="scanButton" >
                        <img src="{% static 'logo/scan.png' %}" alt="Scan Icon">Scan File
                    </button>
                </div>
                <div id="loading-screen-OCR" class="loading-screen-OCR">
                    <div class="loading-spinner-OCR"></div>
                    <p>Please wait OCR Processing......!</p>
                </div>
            </form>
            <div class="scroll-arrows">
                <button class="left-arrow">&lt;</button>
                <button class="right-arrow">&gt;</button>
            </div>
            <form id="downloadForm" action="{% url 'download' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="buttons_second_1">
                    <button class="btn3 btn-disabled" type="submit" id="downloadButton" name="download">
                        <img src="{% static 'logo/download.png' %}" alt="Download Icon"> Download File<span class="file-count">0</span>
                    </button>
                </div>
            </form>
        </div>
        
        <div class="loading-screen" id="loading-screen" style="display: none;">
            <div class="loading-message">
              <div class="spinner" id="spinner"></div>
              <p>Your file is downloading, please wait.....?</p>
            </div>
          </div>
    </div>
    <script src="{% static 'js/get_file.js' %}"></script>
</body>
{% endblock %}
</html>